#error-page-container {
	background-color: white;
	padding: 15% 0;
	margin: 30px 45px;
	height: 450px;
}

#error-page-container img {
	height: 60px;
	display: block;
	margin: auto;
}

#error-page-container div {
	text-align: center;
	font-weight: 750;
	font-size: large;
	margin: 20px 0;
}

#error-page-container button {
	cursor: pointer;
	display: block;
	margin: auto;
	background-color: rgb(90, 8, 214);
	color: white;
	font-size: x-small;
	width: 120px;
	height: 35px;
	border: none;
	border-radius: 5px;
}

@media (max-width: 768px) {
	#error-page-container {
		margin: 30px 20px;
		padding-top: 120px;
	}
}
